* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  background-color: #f1fafe;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.slide__container {
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.5);

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 180px;
  padding-bottom: 20px;
  width: 500px;
}

.slide__count {
  display: flex;
  align-items: center;
}

.slide__input {
  border-radius: 25px;
  box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
  height: 8px;
  margin-top: 10px;
  background: #eeeef0;
  -webkit-appearance: none;
  width: 300px;
  -webkit-box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
  -moz-box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
}

.slide__input::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
  -webkit-box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
  -moz-box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  border-radius: 50%;
  background: #f1fafe; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slide__left,
.slide__right {
  height: 40px;
}

.slide__value {
  margin: 0px 12px;
  font-size: 60px;
}
